@import "./checkoutForm.scss";

.img-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.cart-img{
    margin: 0 auto;
    margin-left: -30%;
    height: 100%;
}

.cart-item{
    margin-top:20px;
    width: 100%;
}

.item-list {
   @extend .cart-list;
}


.img-col {
    vertical-align: top;
    display: inline-block;
    width: 20%; 

}

.list-col{
    vertical-align: top;
    display: inline-block;
    width: 78%;

}

.item-description {
    font-size: 13px;
    color: gray;
}

@media (max-width: 500px){
    .list-col{
        width: 100%;
    }
}