.payment-form {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 1em .2em #ccc;
}

.checkout {
    text-align: left;
}


.cart-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.cart-total {
    text-align: right;
}

#submit {
    background: #218838;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 20px;
    border: 0;
    margin-top: 20px;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
  
}

#submit:disabled {
    opacity: 0.5;
    cursor: default;
  }