.payment-form {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 1em .2em #ccc;
}

.checkout {
    text-align: left;
}


.cart-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.cart-total {
    text-align: right;
}