@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "~bootstrap/scss/bootstrap";

// colors
$green: #009249;

$content-width: 42vw;
$spacing: 2rem;
$displacement: 1rem;
$displacement-m: 3rem;
$displacement-l: 6rem;
$header-font-size: 1.5rem;
$subheader-font-size: 1.3rem;
$emphasis-font-size: 1.5rem;
$font-normal: 400;
$font-heavy: 500;
$font-heavier: 600;
$font-heaviest: 700;
$line-spacing: 1.2em;
$icon-text-spacing: 0.5em;

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

// generic classes

.nudge-down {
    margin-top: $displacement;
}
.nudge-down-l {
    margin-top: $displacement-m;

}
.nudge-right {
    margin-left: $displacement;
}
.nudge-right-l {
    margin-left: $displacement-m;
}
.nudge-left-l {
    margin-right: $displacement-m;
}
.flex-center {
    align-self: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.boldface-link {
    text-decoration: underline;
    font-weight: $font-heavy;
    color: white;
}

.boldface-link:hover {
    color: white;
}


// -------------

.header {
    font-size: $header-font-size;
    font-weight: $font-heavy;
    line-height: $line-spacing;
}

.subheader {
    font-size: $subheader-font-size;
    font-weight: $font-heavy;
}

.subheader-l {
    font-size: $subheader-font-size;
    font-weight: $font-heavy;
}



.error-text {
    color: red;
}

.right-arrow {
    margin-left: 10px;
    margin-top: 5px;
}

.left-arrow {
    margin-right: 10px;
    margin-top: 5px;
}

// overrides

.btn-success {
    padding: 1rem;
    // background-color: $green;
    font-size: $subheader-font-size;
    font-weight: $font-heavier;
}
